body,html{
    padding: 0;
    margin: 0;
    background: rgb(255, 255, 255);
}
.list-container{
   height: 100vh;
   display: flex;
   align-items: center;
}

.list{
    margin: 0px auto;
    height: 300px;
    flex: 1;
    background: white;
    max-width: 500px;
    overflow-y: scroll;
    box-shadow: 3px 3px 5px rgb(153, 153, 153);
    border: 5px solid rgb(182, 182, 182);
}
.item{
    width: 100%;
    height:100px;
    background: black;
    margin: 10px 0px;
}